{% trans_default_domain 'FOSUserBundle' %}


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div class="clearfix">

        <div class="form-group">
            {{ form_row(form.lastName) }}
        </div>

        <div class="form-group">
            {{ form_row(form.firstName) }}
        </div>

        <div class="form-group">
            {{ form_row(form.phone) }}
        </div>

        <div class="form-group">
            {{ form_row(form.email) }}
        </div>

        <div class="form-group">
            {{ form_row(form.university) }}
        </div>

        <div class="form-group">
            {{ form_row(form.faculty) }}
        </div>

        <div class="form-group">
            {{ form_row(form.studentId) }}
        </div>

        <div class="form-group">
            {{ form_row(form.facebook) }}
        </div>

        <div class="form-group">
            {{ form_row(form.plainPassword.first) }}
        </div>

        <div class="form-group">
            {{ form_row(form.plainPassword.second) }}
        </div>

        <div class="form-group">
            {{ form_row(form.GDPR) }}
        </div>
            
    </div>
    <div class="pt-10">
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="submit_btn btn btn-mod btn-medium btn-round btn-full" id="reg-btn" />
    </div>

    <div class="form-group pt-40">
        * Prin bifarea opțiunii "Sunt de acord cu prelucrarea datelor personale.", 
        am luat la cunoștință informarea privind protecția datelor cu caracter 
        personal, anexată în link-ul 
         <a href="http://lsacbucuresti.ro/documente/anexa-conturi-site.pdf" target="_blank">
            http://lsacbucuresti.ro/documente/anexa-conturi-site.pdf
        </a>, 
        sunt  de acord cu întregul conținut și am completat personal datele din 
        cadrul paginii de creare a contului.
    </div>
{{ form_end(form) }}

<!--<form class="form contact-form" id="contact_form">
    
    
    <div class="pt-10">
        <button class="submit_btn btn btn-mod btn-medium btn-round btn-full" id="reg-btn">Register</button>
    </div>
    
</form>-->
