{% extends 'admin.html.twig' %}

{% block title %}M.O.F.T - Admin Panel{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <h3 class="title-5 m-b-35">Ticket Management</h3>
            <div class="table-data__tool">
                <div class="table-data__tool-right">
                    <a href="{{ path('ticket_new') }}" class="au-btn au-btn-icon au-btn--green au-btn--small">
                        <i class="zmdi zmdi-plus"></i>add ticket</a>
                </div>
            </div>
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>category</th>
                            <th>sponsor</th>
                            <th>date</th>
                            <th>taken</th>
                            <th>view users</th>
                            <th>options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in tickets %}
                            <tr class="tr-shadow">
                                <td>{{ ticket.name }}</td>
                                <td><span class="block-email">{{ ticket.category.name }}</span></td>
                                <td class="desc">{{ ticket.sponsor ? ticket.sponsor.name : "N/A" }}</td>
                                <td>{{ ticket.time|date('d.m.Y H:i') }}</td>
                                <td>
                                    {% if bookingRepo.countAllForTicket(ticket) != ticket.maxTickets %}
                                        <span class="status--process">{{ bookingRepo.countAllForTicket(ticket) }} / {{ ticket.maxTickets != 999 ? ticket.maxTickets : '∞' }}</span>
                                    {% else %}
                                        <span class="status--denied">{{ bookingRepo.countAllForTicket(ticket) }} / {{ ticket.maxTickets != 999 ? ticket.maxTickets : '∞' }}</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <a href="{{ path('list_ticket_users', {'ticket_id': ticket.id}) }}" class="item" data-toggle="tooltip" data-placement="top" title="View">
                                        <i class="zmdi zmdi-link"></i>
                                    </a>
                                </td>
                                <td>
                                    <div class="table-data-feature">
                                        <a href="{{ path('ticket_edit', {'ticket_id': ticket.id}) }}" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </a>
                                         <a href="{{ path('ticket_remove', {'ticket_id': ticket.id}) }}" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

