{% extends 'front.html.twig' %}

{% block title %}M.O.F.T - Contact{% endblock %}

{% block body %}
<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container relative">
        
        <h1 class="align-center mb-30">Contact</h1>
        
        <div class="row mb-60 mb-xs-40">
            
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    
                    <!-- Phone -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Telefon
                            </div>
                            <div class="ci-text">
                                0749 116 319
                            </div>
                        </div>
                    </div>
                    <!-- End Phone -->
                    
                    <!-- Address -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Adresă
                            </div>
                            <div class="ci-text">
                                Spl. Independentei 313
                            </div>
                        </div>
                    </div>
                    <!-- End Address -->
                    
                    <!-- Email -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Email
                            </div>
                            <div class="ci-text">
                                <a href="mailto:moft@lsacbucuresti.ro">moft@lsacbucuresti.ro</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Email -->
                    
                </div>
            </div>
            
        </div>
        
        <!-- Contact Form -->                            
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <!-- Success Message -->
                    <div class="alert success">
                        <i class="fa fa-lg fa-check-circle-o"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {{ form_start(form, {'attr': {'class': 'form contact-form'} }) }}
                    <div class="clearfix">
                        <div class="cf-left-col">
                            <!-- Name -->
                            <div class="form-group">
                                {{ form_widget(form.subject, { 'attr': {'class': 'input-md round form-control'} }) }}
                            </div>
                            
                            <!-- Email -->
                            <div class="form-group">
                                {{ form_widget(form.email, { 'attr': {'class': 'input-md round form-control'} }) }}
                            </div>
                        </div>
                        <div class="cf-right-col">
                            <!-- Message -->
                            <div class="form-group">
                                {{ form_widget(form.message, { 'attr': {'class': 'input-md round form-control', 'style': 'height: 84px;'} }) }}                                     
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="cf-left-col">
                            <!-- Inform Tip -->                                        
                            <div class="form-tip pt-20">
                                <i class="fa fa-info-circle"></i> Toate câmpurile sunt obligatorii
                            </div>
                        </div>
                        <div class="cf-right-col">
                            
                            <!-- Send Button -->
                            <div class="align-right pt-10">
                                {{ form_widget(form.send, { 'attr': {'class': 'submit_btn btn btn-mod btn-medium btn-round'} }) }}
                            </div>
                            
                        </div>
                        
                    </div>

                    <div id="result"></div>
                {{ form_end(form) }}
                
            </div>
        </div>
        <!-- End Contact Form -->
        
    </div>
</section>
<!-- End Contact Section -->
{% endblock %}
