{% extends 'front.html.twig' %}

{% block title %}M.O.F.T{% endblock %}

{% block slider %}
<!-- Home Section -->
<!-- Fullwidth Slider -->
<div class="home-section fullwidth-slider bg-dark" id="home">
    <!-- Slide Item -->
    <section class="home-section bg-scroll" data-background="/front/images/slider/landing.jpg">
        <div class="js-height-full container">
            
        </div>
    </section>
    <!-- End Slide Item -->
    
    <!-- Slide Item -->
    <section class="home-section bg-scroll" data-background="/front/images/slider/muzeu.jpg">
        <div class="js-height-full container">
            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">
                    <img src="/front/images/icons/muzeu.svg" width="25%" />
                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Slide Item -->
    
    <!-- Slide Item -->
    <section class="home-section bg-scroll" data-background="/front/images/slider/opera.jpg">
        <div class="js-height-full container">
            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">
                    <img src="/front/images/icons/opera.svg" width="25%" />
                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Slide Item -->

    <!-- Slide Item -->
    <section class="home-section bg-scroll" data-background="/front/images/slider/film.jpg">
        <div class="js-height-full container">
            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">
                    <img src="/front/images/icons/film.svg" width="25%" />
                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Slide Item -->

    <!-- Slide Item -->
    <section class="home-section bg-scroll" data-background="/front/images/slider/teatru.jpg">
        <div class="js-height-full container">
            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">
                    <img src="/front/images/icons/teatru.svg" width="25%" />
                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Slide Item -->

</div>
<!-- End Fullwidth Slider -->
{% endblock %}

{% block body %}
<!-- About Section -->
<section class="page-section">
    <div class="container relative">
        
        <div class="row">
            
            <div class="col-md-5 col-lg-4 mb-sm-40 mt-10">
                
                <!-- About Project -->
                <div class="text">
                    
                    <h3 class="font-alt mb-30 mb-xxs-10">Despre eveniment</h3>
                    <p>
                        Ajuns la a cincisprezecea ediție, M.O.F.T. (Muzee. Operă. Film. Teatru.) este un eveniment 
                        oferit de LSAC București, prin intermediul căruia studenții pot evada din rutina zilnică. 
                        În perioada 25 februarie 2019 – 3 martie 2019, instituții cultural-artistice ale capitalei 
                        pun la dispoziția tinerilor bilete gratuite la muzee, spectacole, filme și piese de teatru. 
                        Pe lângă acestea, sunt oferite bilete și la o categorie specială numită “Extra”, care conține 
                        un alt fel de activități recreative pentru studenți, precum escape room, lasertag, squash și 
                        multe altele. 
                    </p>
                    <p>
                        Cu ajutorul evenimentului M.O.F.T., voluntarii LSAC Bucureşti (Ligii Studenților din Facultatea
                         de Automatică și Calculatoare, Universitatea Politehnica București) încurajează tinerii studenți
                          să se dezvolte în plan cultural și social, prin participarea la diferite activități din sfera 
                          cultural-artistică.
                    </p>
                    
                    <div class="mt-40">
                        <a href="{{ path('tickets') }}" class="btn btn-mod btn-border btn-round btn-medium" target="_blank">Rezervă bilete</a>
                    </div>
                    
                </div>
                <!-- End About Project -->
                
            </div>
            
            <div class="col-md-7 col-lg-offset-1">
                
                <img src="/front/images/featured/about.png" alt="" />
                
            </div>
            
            </div>
        
    </div>
</section>
<!-- End About Section -->

<!-- Featured Photos Section -->
<section class="page-section pb-0 pt-0">
    <div class="container relative">
        
        <!-- Photo Grid -->
        <div class="row multi-columns-row mb-30 mb-xs-10">
            
            <!-- Photo Item -->
            <div class="col-md-3 col-lg-3 mb-md-10">
                
                <div class="post-prev-img">
                    <a href="{{ path('tickets', {'_fragment': 'muzeu'}) }}" class="mfp-image">
                        <img src="/front/images/featured/muzeu.jpg" alt="" />
                    </a>
                </div>

            </div>
            <!-- End Photo Item -->
            
            <!-- Photo Item -->
            <div class="col-md-3 col-lg-3 mb-md-10">
                
                <div class="post-prev-img">
                    <a href="{{ path('tickets', {'_fragment': 'opera'}) }}" class="mfp-image">
                        <img src="/front/images/featured/opera.jpg" alt="" />
                    </a>
                </div>

            </div>
            <!-- End Photo Item -->
            
            <!-- Photo Item -->
            <div class="col-md-3 col-lg-3 mb-md-10">
                
                <div class="post-prev-img">
                    <a href="{{ path('tickets', {'_fragment': 'film'}) }}" class="mfp-image">
                        <img src="/front/images/featured/film.jpg" alt="" />
                    </a>
                </div>

            </div>
            <!-- End Photo Item -->
            
            <!-- Photo Item -->
            <div class="col-md-3 col-lg-3 mb-md-10">
                
                <div class="post-prev-img">
                    <a href="{{ path('tickets', {'_fragment': 'teatru'}) }}" class="mfp-image">
                        <img src="/front/images/featured/teatru.jpg" alt="" />
                    </a>
                </div>

            </div>
            <!-- End Photo Item -->
            
        </div>
        <!-- End Photo Grid -->
        
    </div>
</section>
<!-- End Featured Photos Section -->

<!-- Parteners Section -->
<section class="page-section pt-0">
    <div class="container relative">
        
        <!-- Heading -->
        <div class="row mb-xs-30">
                <div class="col mb-40 align-center">
                    <h1>Parteneri</h1>
                </div>
        </div>
        <!-- End Heading -->

        {% if not sponsors %}
            <hr class="mb-30"/>
            <h4 class="font-alt mb-10 align-center">Nu există niciun partener încă</h4>
            <hr class="mb-30"/>
        {% endif %}
        
        <div class="row multi-columns-row alt-features-grid">
            {% for sponsor in sponsors %}
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-left">
                        {% if sponsor.link %}
                            <a href="{{ sponsor.link }}" target="_blank">
                        {% endif %}
                            <div class="alt-features-icon">
                                <img src="/front/images/sponsors/{{ sponsor.name|lower|replace({' ': '-'}) }}.png" alt="" class="sponsor-img" />
                            </div>
                        {% if sponsor.link %}
                            </a>
                        {% endif %}
                        <h3 class="alt-features-title font-alt">{{ sponsor.name }}</h3>
                        <div class="alt-features-descr align-left">
                            {{ sponsor.description }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>
</section>
<!-- End Parteners Section -->
{% endblock %}
