{% extends 'front.html.twig' %}

{% block title %}M.O.F.T - Contul meu{% endblock %}

{% block body %}
<!-- Section -->
<section class="page-section">
    <div class="container relative">
        <div class="et-examples row mb-xs-30 mb-40">
            <h1 class="mb-0 mt-20 align-center">Contul meu</h1>
            <h2 class="mb-20 mt-10 align-center">{{ app.user.firstName }} {{ app.user.lastName }}</h2>
            <span class="box1 center" title="Email"><span aria-hidden="true" class="icon-envelope"></span>{{ app.user.email }}</span>
            <span class="box1 center" title="Telefon"><span aria-hidden="true" class="icon-phone"></span>{{ app.user.phone }}</span>
            <span class="box1 center" title="Legitimație student"><span aria-hidden="true" class="icon-clipboard"></span>Legitimație nr. {{ app.user.studentId }}</span>
            <span class="box1 center" title="Universitate"><span aria-hidden="true" class="icon-briefcase"></span>{{ app.user.university }}</span>
            <span class="box1 center" title="Facultate"><span aria-hidden="true" class="icon-gears"></span>{{ app.user.faculty }}</span>
        </div>
        <h1 class="mb-0 mt-20 align-center">Biletele mele</h1>
        {% if bookings %}
            <div class="row section-text">
                <div class="col-md-8 col-md-offset-2">
                    <!-- Success Message -->
                    <div class="alert error mt-10">
                            <i class="fa fa-lg fa-exclamation-triangle"></i> Daca ați rezervat un bilet și nu puteți merge
                            la eveniment, anulați rezervarea! În caz contrar, veți fi adăugat pe lista neagră!
                    </div>
                </div>
            </div>
        {% endif %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="row section-text">
                <div class="col-md-8 col-md-offset-2">
                    <!-- Success Message -->
                    <div class="alert success mt-10">
                        <i class="fa fa-lg fa-check-circle-o"></i> {{ flashMessage }}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="row section-text">
                <div class="col-md-8 col-md-offset-2">
                    <!-- Error Message -->
                    <div class="alert error mt-10">
                        <i class="fa fa-lg fa-times-circle"></i> {{ flashMessage }}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if not bookings %}
            <div class="row section-text">
                <div class="col-md-8 col-md-offset-2">
                    <hr class="mb-30"/>
                    <h4 class="font-alt mb-10 align-center">Nu aveți niciun bilet</h4>
                    <hr class="mb-30"/>
                </div>
            </div>
        {% else %}
            {% for booking in bookings %}
                <div class="row section-text">
                    <div class="col-md-8 col-md-offset-2">
                        <hr class="mb-30"/>
                        <h3 class="font-alt mb-10">{{ booking.ticket.name }}</h3>
                        <p>{{ booking.ticket.time|date('d.m.Y H:i') }}</p>
                        <div class="right mt-0">
                            <a href="{{ path('my_ticket_remove', { 'booking_id': booking.id }) }}" class="btn btn-mod btn-border btn-round btn-medium">Anulare bilet</a>
                        </div>
                        {% if loop.last %}
                            <div class="clear"></div>
                            <hr class="mb-30"/>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <h1 class="mb-0 mt-20 align-center">Bilete pe lista de așteptare</h1>
        {% if not waitings %}
            <div class="row section-text">
                <div class="col-md-8 col-md-offset-2">
                    <hr class="mb-30"/>
                    <h4 class="font-alt mb-10 align-center">Nu aveți niciun bilet în așteptare</h4>
                    <hr class="mb-30"/>
                </div>
            </div>
        {% else %}
            {% for waiting in waitings %}
                <div class="row section-text">
                    <div class="col-md-8 col-md-offset-2">
                        <hr class="mb-30"/>
                        <h3 class="font-alt mb-10">{{ waiting.ticket.name }}</h3>
                        <p>{{ waiting.ticket.time|date('d.m.Y H:i') }}</p>
                        <div class="right mt-0">
                            <a href="{{ path('waiting_list_remove', { 'waiting_id': waiting.id }) }}" class="btn btn-mod btn-border btn-round btn-medium">Renunță</a>
                        </div>
                        {% if loop.last %}
                            <div class="clear"></div>
                            <hr class="mb-30"/>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>
<!-- End Section -->
{% endblock %}
