{% extends 'front.html.twig' %}

{% block title %}M.O.F.T - Bilete{% endblock %}

{% block body %}
<!-- Section -->
<section class="page-section">
    <div class="container relative">
        <!-- Heading -->
        <div class="row mb-xs-30">
            <div class="col mb-40 align-center">
                <h1>Bilete</h1>
            </div>
        </div>
        <!-- End Heading -->

        {% if not tickets %}
            <hr class="mb-30"/>
            <h4 class="font-alt mb-10 align-center">Nu există niciun bilet încă</h4>
            <hr class="mb-30"/>
        {% endif %}
	
        {% set flashTicket = app.flashes('ticket')|first %}
        {% if not flashTicket %}
            {% for flashMessage in app.flashes('error') %}
                <!-- Error Message -->
                <div class="alert error mt-10">
                    <i class="fa fa-lg fa-times-circle"></i> {{ flashMessage }}
                </div>
            {% endfor %}
        {% endif %}
        {% set prevCategory = -1 %}
        {% for ticket in tickets %}
            {% if prevCategory != ticket.category.id %}
                {% set prevCategory = ticket.category.id %}
                <a class="anchorAdjusted" id="{{ ticket.category.name|lower|replace({' ': '-'}) }}"></a>
                <h1 class="align-center mb-10">{{ ticket.category.name }}</h1>
                <!-- Divider -->
                <hr class="mt-20 mb-20 "/>
                <!-- End Divider -->
            {% endif %}
            <a class="anchorAdjusted" id="{{ ticket.name|lower|replace({' ': '-'}) }}"></a>
            <div class="row">
                
                <div class="col-md-5 col-lg-4 mb-sm-40">
                    
                    <img src="/front/images/featured/{{ ticket.category.name|lower }}.jpg" alt="" />
                    
                </div>
                
                <div class="col-md-7 col-lg-offset-1">
                    
                    <div class="text">
                    
                        <h3 class="font-alt mb-30 mb-xxs-10">
                            {{ ticket.name }}
                            {% if ticket.maxTickets == 999 %}
                                <small>(Bilete nelimitate)</small>
                            {% else %}
                                <small>({{ ticket.maxTickets - bookingRepo.countAllForTicket(ticket) }} {{ ticket.maxTickets - bookingRepo.countAllForTicket(ticket) == 1 ? 'bilet rămas' : 'bilete rămase' }})</small></small>
                            {% endif %}
                        </h3>
                        <p>{{ ticket.time|date('d.m.Y H:m') }}</p>
                        {% set disabled = '' %}
                        {% set disabledReason = '' %}
                        {% if not is_granted("ROLE_USER") %}
                            {% set disabled = 'disabled ' %}
                            {% set disabledReason = 'Trebuie sa fii autentificat pentru a rezerva bilete!' %}
                        {% endif %}
                        {% if bookingRepo.countAllForTicket(ticket) >= ticket.maxTickets and waitingListRepo.countAllForTicket(ticket) >= ticket.maxWaiting %}
                            {% set disabled = 'disabled ' %}
                            {% set disabledReason = 'Nu mai sunt bilete disponibile!' %}
                        {% endif %}
                        {% if ticket.time|date('U') <= 'now'|date('U') %}
                            {% set disabled = 'disabled ' %}
                            {% set disabledReason = 'Evenimentul a fost deja!' %}
                        {% endif %}
                        <div class="mt-40">
                            <a href="{{ path('my_ticket_book', { 'ticket_id': ticket.id }) }}" class="{{ disabled }}btn btn-mod btn-border btn-round btn-medium">Rezervă biletul</a>
                        </div>
                        {% if disabledReason != '' %}
                            <div class="alert info mt-10">
                                <i class="fa fa-lg fa-exclamation-triangle"></i> {{ disabledReason }}
                            </div>
                        {% endif %}
                        {% if flashTicket == ticket.id %}
                            {% for flashMessage in app.flashes('success') %}
                                <!-- Success Message -->
                                <div class="alert success mt-10">
                                    <i class="fa fa-lg fa-check-circle-o"></i> {{ flashMessage }}
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.flashes('error') %}
                                <!-- Error Message -->
                                <div class="alert error mt-10">
                                    <i class="fa fa-lg fa-times-circle"></i> {{ flashMessage }}
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.flashes('notice') %}
                                <!-- Error Message -->
                                <div class="alert notice mt-10">
                                    <i class="fa fa-lg fa-exclamation-triangle"></i> {{ flashMessage }}
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                    
                </div>
                
            </div>

            {% if not loop.last and prevCategory == ticket.category.id %}
                <!-- Divider -->
                <hr class="mt-20 mb-20 "/>
                <!-- End Divider -->
            {% endif %}
        {% endfor %}
    </div>
</section>
<!-- End Section -->
{% endblock %}
